.ipynb_checkpoints
.DS_Store
.idea/
bidding_train_env/.DS_Store
bidding_train_env/__pycache__/
bidding_train_env/agent/__pycache__/
bidding_train_env/baseline/.DS_Store
bidding_train_env/baseline/__pycache__/
bidding_train_env/baseline/bc/__pycache__/
bidding_train_env/baseline/iql/__pycache__/
bidding_train_env/common/__pycache__/
bidding_train_env/dataloader/__pycache__/
bidding_train_env/environment/__pycache__/
run/.DS_Store
run/__pycache__/

data
saved_model
deploy.sh